#calculator {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    height:540px;
    width:350px;
    padding:20px;
    box-sizing: padding-box;
    background:#ecf0f1;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    color:#ecf0f1;
}
